#likelist {
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/unnamed.jpg") ;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#likelist .like-menu .top-page{
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#likelist .like-menu .top-page .go-back{
  margin-bottom: 10px;
  
  width: 40px;
  height: 40px;

  background: rgb(202, 22, 22);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;

}

#likelist .like-menu .top-page .go-back:hover{
  background-color:rgb(255, 0, 0);
}

#likelist .like-menu .top-page img{
  margin-left: 15px;
  margin-top: 20px;
  width:240px; /* you can use % */
  height: auto;
}

#likelist .like-menu{
  position: relative;
  backdrop-filter: blur(5px);
  border: 1px solid black;
  border-radius: 20px;

  width: 100%;
  max-width: 500px;

  height: 100%;
  max-height: 600px;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lista{
  margin-top: 50px;
  width: 350px;
  background: #000000;
}

.lista td{
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
}

.lista th{
  
  background: #ff0000;
}

.lista tr:nth-child(odd){
  background-color: #37e220;
}

.lista tr{
  justify-content: center;

  width: 500px;
  height: 40px;
  background: #00ac00;
}

#likelist  h1{
  color:rgb(0, 0, 0);
  font-size: 50px;
  font-weight: 900;

  margin-top: 10px;
}

#likelist .like-menu li{
  color:black;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 20px;
}

.delBtn{
  width: 120px;
  background: #ec3e3ee3;
  border: 1px solid rgb(224, 22, 22);
  border-radius: 5px;
  height: 30px;
}

.delBtn:hover{
  background: #fa0000e8;
}

.delBtn span{
  font-size: 25px;
  font-weight: 900;
}
